<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
  {% include 'core/favicons/main.html' %}
  {% block head %}
  {% endblock %}
  <title>Document</title>
</head>
<body>
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-2 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="{% static 'img/cats/nya.jpg' %}" width="100" height="100" alt="">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Кошачий магазин</span>
      </a>
      {% with request.resolver_match.view_name as view_name %}
      <ul class="nav nav-pills py-6 align-items-center">
        <li class="nav-item"><a href="{% url 'home:home' %}" class="nav-link {% if view_name == 'home:home' %}active{% endif %}" aria-current="page">Главная</a></li>
        <li class="nav-item"><a href="{% url 'catalog:catalog' %}" class="nav-link {% if view_name == 'catalog:catalog' %}active{% endif %}">Каталог</a></li>
        <li class="nav-item"><a href="{% url 'about:about' %}" class="nav-link {% if view_name == 'about:about' %}active{% endif %}">О проекте</a></li>
      </ul>
      {% endwith %}
    </header>
  </div>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>