{% extends 'core/base.html' %}
{% load support i18n %}

{% block content %}
<div class="container bootstrap snippets bootdey w-100">
    <h1 class="text-primary">Edit Profile</h1>
      <hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <img src="{% get_image_px_by_url image=user.profile.avatar px='300x300' crop='center' quality=90 %}" class="avatar img-circle img-thumbnail" alt="avatar">
          <h6>Upload a different photo...</h6>

          <input type="file" class="form-control">
        </div>
      </div>

      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        {% for error in form.errors %}
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a>
          <i class="fa fa-coffee"></i>
          {{ error|safe|striptags }}
        </div>
        {% endfor %}
        <h3>Personal info</h3>
        <p class="username">{% trans 'Имя пользователя' %}: {{ user }}</p>

        <form class="form-horizontal" role="form" method="post" action="">
					{% csrf_token %}

	        {% for field in form %}
	        <div class="form-group">
            <label class="col-lg-3 control-label" for="{{ field.auto_id }}">{{ field.label}}</label>
            <div class="col-lg-8">
	            {{ field }}
            </div>
          </div>

	        {% endfor %}
        <button type="submit" class="btn btn-primary btn-lg btn-block w-100 mt-4">{% trans 'Сохранить' %}</button>
        </form>
      </div>
  </div>
</div>
<hr>
{% endblock %}
