.item-content {
    position: relative;

}

.item-main-image {
    width: 300px;
    height: 400px;
    display: inline-block;
}

.item-head {
    display: inline-block;
    padding: 20px 0 0 100px;
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0;
}

.item-head::after {
    display: inline-block;
    width: 1000px;
    height: 1px;
    background-color: black;
}

.item-name {
    display: block;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    text-align: left;
    margin: 0;
}

.item-category {
    display: block;
    color: #a10000;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-top: 10px;
}

.item-tags {
    display: block;
    padding: 30px 0 0 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: rgba(0, 0, 0, 0.5);
}

.back-chat {
    position: absolute;
    bottom: 40px;
    display: block;
    text-align: center;
    line-height: 46px;
    background-color: black;
    width: 250px;
    height: 50px;
    color: #ebebeb;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    border-radius: 4px;
    letter-spacing: 0.02em;
    cursor: pointer;
}

.item-description {
    padding: 50px 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.item-gallery {
    position: relative;
    display: inline-block;
    width: 500px;
    height: 400px;
}

.image-download-button {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    text-decoration: none;
    width: 70px;
    z-index: 5;
    height: 30px;
    background-color: black;
    border-radius: 2px;
    color: #ebebeb;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
}

input[type=range]::-webkit-slider-thumb {
    background-image: url(https://e7.pngegg.com/pngimages/769/33/png-clipart-nautical-star-drawing-shine-tattoo-symbol.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /*background: orange;*/
    /*border: 1px solid orange;*/
    /*border-radius: 12px/100%;*/
    margin-top: -21px;
    cursor: pointer;
    width: 48px;
    height: 48px;
    -webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
    background: orange;
    border: 1px solid orange;
    border-radius: 12px/100%;
    cursor: pointer;
}