{% extends "core/base.html" %}
{% load static %}
{% load support %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/item_cards.css' %}">
{% endblock %}

{% block content %}
<div class="catalog_categories">
	{% with items=items_raw|group_items:'tags__name,id' %}
		{% regroup items by category__name as categories %}
		{% for category in categories %}
			{% if category.list %}
				<div class="category-block category-{{ category.grouper }}">
					<h2 class="category-group-header category-{{ category.grouper }}">{{ category.grouper }}</h2>
					<div class="catalog-items category-{{ category.grouper.name }}">
						{% for item in category.list %}
							{% include "catalog/includes/item_card.html" %}
						{% endfor %}
					</div>
				</div>
			{% endif %}
		{% endfor %}
	{% endwith %}
</div>
{% endblock %}