{% extends "core/base.html" %}
{% load static %}
{% load support %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/item_page.css' %}">
{% endblock %}

{% block content %}

{% with item=item_raw|group_items:'tags__name,id,1' %}
<div class="item-content">
	<div id="carouselExampleControls" class="item-gallery carousel slide" data-bs-ride="carousel">
	  <ol class="carousel-indicators">
	    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
		  {% for image in images %}
	    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter }}"></li>
		  {% endfor %}
	  </ol>
	  <div class="carousel-inner">
	  {% with photo_px='500x400' %}
	    <div class="carousel-item active">
	      <img class="d-block w-100" src="{% get_image_px_by_url image=item.image px=photo_px crop='center' quality=100 %}" alt="First slide">
		    <a class="image-download-button" href="" download="{{ item.image }}">Скачать</a>
	    </div>
		  {% for image in images %}
	    <div class="carousel-item">
	      <img class="d-block w-100" src="{% get_image_px_by_url image=image.image px=photo_px crop='center' quality=100 %}" alt="First slide">
		    <a class="image-download-button" href="" download="{{ image.image }}">Скачать</a>
	    </div>
		  {% endfor %}
		{% endwith %}
	  </div>
	  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="sr-only"></span>
	  </a>
	  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="sr-only"></span>
	  </a>
	</div>
	<div class="item-head">
		<h1 class="item-name">{{ item.name.capitalize }}</h1>
		<span class="item-category">{{ item.category__name.capitalize }}</span>
		<span class="item-tags">{% comma_separated item.tags__name %}</span>
		<span class="back-chat">Обратная связь</span>
	</div>
	<div class="item-description">{{ item.text|safe }}</div>
	<div class="evoluation-form container">
		{% if user.is_authenticated  %}
			<form method="post">
				{% csrf_token %}
				{% for field in evaluation_form %}
					{{ field.label_tag }} {{ field }}
					{% if field.help_text %}
					<p class='form-text'> {{ field.help_text }} </p>
					{% endif %}
					{% for error in field.errors %}
					<p class='text-danger'> {{ error|escape }} </p>
					{% endfor %}
				{% endfor %}
				<button type="submit" class="btn btn-primary">Отправить</button>
				<a class="btn btn-danger" href={% url 'rating:delete_evaluation' item_id=item.id %}>Удалить</a>
			</form>
		{% endif %}
	</div>
	<p> Среднее: {{ average }} </p>
	<p> Количество отзывов: {{ count }} </p>
</div>
{% endwith %}

{% endblock %}
